* {
  font-family: "Ubuntu", sans-serif;
}

body {
  margin: 0;
  font-size: 32px;
  background: rgb(89, 62, 130);
  background: linear-gradient(
    90deg,
    rgba(89, 62, 130, 1) 0%,
    rgba(48, 91, 131, 1) 50%,
    rgba(1, 33, 144, 1) 100%
  );
}

.title {
  text-align: center;
  cursor: default;
}

.todo-container {
  display: flex;
  justify-content: center;
}

.todo-container__todo-name {
  width: 643px;
}

.todo-container__todo-name:focus {
  outline: none;
  border: solid 2px rgba(1, 33, 144, 1);
}

.icon-btn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: all 0.6s;
}

.icon-btn:hover {
  transform: scale(140%);
  transition: all 0.6s;
}

.icon {
  width: 45px;
  pointer-events: none;
}

.todo-container__btn-add,
.todo-container__btn-delete {
  margin-left: 8px;
}

.todo-list {
  margin-top: 39px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-list__empty-img {
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todo-list__item {
  margin-top: 30px;
  display: flex;
  align-items: center;
  width: 40%;
}

.item__text {
  word-wrap: break-word;
  width: 100%;
}

.item__text--empty {
  text-align: center;
}
